.title-screen {
  width: 100%;
  padding: 120px 0 40px;
  background: url(../images/space-bg.jpg);
  overflow: hidden;
  background-size: cover;

  .video-wrapper {
    width: 620px;
    overflow: hidden;
    margin: 35px auto;
  }
}
